<head>
  <meta charset="utf-8">
  <title>The Quiz</title>
  <%= stylesheet_link_tag "home" %>
</head>
<div id="wrapper">
  <%= render "shared/header" %>
  <div id="content">
    <h1>Welcome to Games by Dewey Banks</h1>
  </div>
  <%= render "shared/footer" %>
</div>
